build/
asset/
dll/
# lib/
.vs/
.history/
.vscode/
x64/
.cache/
include/UDRefl/*
include/UDRefl_ext/*
include/USmallFlat/*
include/UTemplate/*
a.exe
asset.zip
*.rdc
*.jpg
RenderDoc/
*.pptx
.VSCodeCounter/